<!-- 1- (app.component.html) Realizar: -->

<!-- mostrar el promedio y la suma en dos cuadros de textos nuevos
botones "calcular" y "limpiar cuadros de textos" -->
<hr>
<p>Ejercicio Suma y promedio</p>

<div>
    <label for="edadUno">Ingrese primera edad: </label>
    <input id="edadUno" type="number" [(ngModel)]="edadUno" class="form-control w-25">
</div>

<div>
    <label for="edadDos">Ingrese segunda edad: </label>
    <input type="number" id="edadDos" [(ngModel)]="edadDos">
</div>
<br>
<button (click)="Calcular()">Calcular</button>
<br>

<div>
    <label for="resultado">Resultado</label>
    <input type="number" [(ngModel)]="resultado">
</div>

<div>
    <label for="promedio">Promedio</label>
    <input type="number" [(ngModel)]="promedio">
</div>

<hr>