<!-- <h1>{{title}}</h1>
<button (click) = "cambiarTitulo()">Boton 01</button>

<button (click) ="title = 'hello'">Boton 02</button>

<button (click) = "cambiarTituloParametro('string parametro')">Boton 03</button>

<button (click) = "cambiarTituloInput()">Boton 04</button> -->

<!-- <button (click) = "variableInput = hola">Boton 04</button> -->

<!-- <input [(ngModel)] = "inputVal"> -->


<!-- calcular -->

<!-- <input type="number" [(ngModel)] = "varOne">
<input type="number" [(ngModel)] = "varTwo">
<button (click) = "sumar()">Calcular</button>

<input [(ngModel)] = "result"> -->
<!-- 
<p> {{inputVal}}</p> -->

<!-- otro tipo de bindeo -->

<!-- <img [src] = "img" width="200" height="200"> -->

<!-- Todo lo que esta entre "" comillas dobles, es javascript -->



<!-- 1- (app.component.html) Realizar: -->

<!-- mostrar el promedio y la suma en dos cuadros de textos nuevos
botones "calcular" y "limpiar cuadros de textos" -->
<!-- <hr>
<p>Ejercicio Suma y promedio</p>

<input type="number" [(ngModel)] = "edadUno">
<input type="number" [(ngModel)] = "edadDos">

<Label id="resultado">Resultado</Label>
<input type="number" id="resultado" [(ngModel)] = "edadDos">
<hr> -->


<!-- 2-( componentes nuevos) Realizar:
la clase usuario con nombre y clave ,
el componente "Bienvenido"
el componente "login"
el componente "error"
( dejar los componentes listos)
opcional: hacer ruteo -->


<app-componente-suma-promedio/>
<app-login/>